body {
  margin: 0;
  font-family: SFProText, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #E5E5E5;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media screen and (min-width: 960px) {
  html {
    padding-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

@mixin declare-font($name, $weight, $style) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    @content;
    src: url('../fonts/#{$name}-#{$weight}-#{$style}.eot');
    src: url('../fonts/#{$name}-#{$weight}-#{$style}.eot?#iefix') format('embedded-opentype'),
        url('../fonts/#{$name}-#{$weight}-#{$style}.woff2') format('woff2'),
        url('../fonts/#{$name}-#{$weight}-#{$style}.woff') format('woff'),
        url('../fonts/#{$name}-#{$weight}-#{$style}.ttf') format('truetype');
  }
}

@include declare-font(SFProText, 400, normal);
